<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <h1>
        <%= data[1] %>
    </h1>

    <div class="container">

        <h3>
            ESTADO:
            <% if ( data[2] == null) { %>
                Por aprobar
                <% } else { %>
                    Aprobado
                    <% } %>
        </h3>

        <form id="form-accept">
            <input type="hidden" name="form-id" id="form-id" value="<%= data[0] %>">
            <input type="hidden" name="form-name" id="form-name" value="<%= data[1] %>">
            <button type="submit">Aceptar</button>
        </form>
    </div>
    <script src="../js/form.js"></script>
</body>

</html>