<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los formularios</title>
</head>

<body>
    <% data.forEach(form => { %>
        <li><a href="/forms/<%= form[0] %>">
                <%= form[1] %>.
            </a></li>
        <% }) %>

            <h1>Crear uno nuevo</h1>
            <form id="new-form">
                <input type="text" name="form-name" id="form-name" placeholder="Nombre del formulario">
                <button type="submit">Enviar</button>
            </form>
            <script>
                document.getElementById('new-form').addEventListener('submit', async (e) => {
                    e.preventDefault()
                    const data = [
                        0,
                        document.getElementById('form-name').value,
                        null
                    ]
                    try {
                        const response = await fetch('/form', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                        const result = await response.json()
                        window.alert(result.error ? 'ERROR' : 'EXITO')
                        location.reload()
                    } catch (error) {
                        console.error('Error al enviar la solicitud:', error);
                        window.alert('Error al enviar los datos');
                    }
                })
            </script>
</body>

</html>